.features-main {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: auto;
}

.feature-row {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-col {
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.feature-body-img-one,
.feature-body-img-three {
    height: 90%;
    width: 200px;
    border-radius: 15px;
}

.feature-body-img-two {
    height: 90%;
    width: 200px;
    border-radius: 15px;
}

@keyframes animation-feature-body-img-rigth {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes animation-feature-body-img-rigth-reverse {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes animation-feature-body-img-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes animation-feature-body-img-left-reverse {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 728px) {

    .feature-body-img-one,
    .feature-body-img-three {
        height: 50%;
        width: 150px;
    }

    .feature-body-img-two {
        height: 50%;
        width: 150px;
    }
}