.contact-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 50px;
    background-color: rgb(180, 180, 160);
}

.contacts-div {
    width: 50vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-contact-description {
    font-size: 1rem;
    color: black;
}


@keyframes animation-contacts-div {
    from {
        height: 0px;
        width: 0px;
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes animation-contacts-div-reverse {
    from {
        height: 50vh;
        width: 50vw;
        transform: translateY(0%);
    }

    to {
        height: 0px;
        width: 0px;
        transform: translateY(-100%);
    }
}

@media (max-width: 728px) {
    .contacts-div {
        width: 90vw;
        height: 50vh;
    }
}